*~
*.*~
.DS_Store
thumbs.db
*.log


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

proc
pids
logs
results

dump.rdb
npm-debug.log
node_modules/

config/apikeys.json
config/db.json
config/deploy.rb
config/local/

