*~
*.*~
.DS_Store
thumbs.db
*.log


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

proc
pids
logs
results

.appconfig
.nodester.appconfig

dump.rdb
npm-debug.log
node_modules/
public/viz/seuron_viz

config/apikeys.json
config/db.json
config/local/
config/deploy/production.rb

.oldies/


