extends layout

block append content
	h1 Crowdsource research
	p You are very welcome to join us to continue SBF development.
    p We need :
    ul 
        li Developers
        li Users
        li Researchers
        li Curious
        li Enthusiasts
        li You !

    p Send us an email to hello@sharismlab.com or ping us @sharismlab on Twitter or Sina Weibo

    p You can find all code and info about development on Github !


