table.table.table-striped
    thead 
        tr
            th URL
            th Description
    tbody
        - for m in urls
            tr  
                td= m.url
                td= m.description
                td 
                    a(href="#", rel=m.id) Add to meme
