header.jumbotron.subhead
  h1 Social brain is alive!
  p.lead Test it here ot check our 
    a(href="/api") API
  div.row
    div.span4
      p Looking for a something?
      form.form-search.well
        input#box.input-medium.search-query
        button#say.btn(name="say") Say 
    div#panel.span8
