extends layout

block append content
	div.hero-unit
		h1 Social Brain Framework
		p Next-gen social network analysis. build semantic apps
		
		a.btn.btn-large.btn-alert(href="/auth/twitter") Log in with your Twitter account
		