!!! 5
html
    head
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/style.css')
    body
      ul
         li
           a(href="/logout") Logout
         li 
            a(href= "/auth/twitter") Login with Twitter

