!!! 5
html
    | <meta charset="utf-8"/>
    | <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    | <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    block head
        
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/font-awesome.css')
        //- link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css')
        script(type='text/javascript', src='/js/jquery-1.8.2.js')
        //- script(type='text/javascript', src='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js')

        script(type='text/javascript', src='/js/bootstrap.js')
        script(type='text/javascript', src='/js/app.js')


        | <!--[if lt IE 9]>
        |    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        | <![endif]-->
    
    body(onload="prettyPrint()")
    block menu
        .navbar.navbar-fixed-top
           .navbar-inner
                .container
                  a.btn.btn-navbar(data-toggle="collapse", data-target="nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                  a.brand(href="/", title="Back to home") Social Brain
                  div.nav-collapse
                          ul.nav 
                            li 
                               a(href='/', title='Back home') Home
                          
                            li
                              a(href='/docs', title='Read SBF docs') Docs

                            li 
                               a(href='/about', title='Learn more') About
                            
                            li
                              a(href='/join', title='Join our team') Contribute

                          ul.nav.pull-right
                            li.divider-vertical
                            - if (everyauth.user)
                              li 
                                - if (everyauth.user.twitter)
                                  b Hi #{everyauth.twitter.user.name}
                                - else (everyauth.user.weibo)
                                  b Hi #{everyauth.weibo.user.name}
                              li
                                a(href='/logout') Logout

                            - else 

                            li
                               a(href='/register', title='Register') Register

                            li.dropdown
                              a.dropdown-toggle(href="#", data-toggle='dropdown') Login
                                b.caret
                              ul.dropdown-menu 
                                  li
                                    a(href='/auth/twitter', title='Login with Twitter') using Twitter
                                      img(src="/img/icons/color/twitter.png", alt="Twitter", target="_blank", width="20", height="20")
                                  li
                                    a(href='/auth/weibo', title='Login with Weibo') using Weibo
                                       img(src="/img/icons/color/weibo.png", alt="Weibo", target="_blank", width="20", height="20")

    div.container
        block content

        footer
            div.contacts
              a(href="http://twitter.com/sharismlab")
                img(src="/img/icons/color/twitter.png", alt="Twitter", target="_blank", width="35", height="35")
                
              a(href="http://github.com/sharismlab")
                img(src="/img/icons/color/github.png", alt="Github", target="_blank", width="35", height="35")
                
              a(href="http://weibo.com/sharismlab")
                img(src="/img/icons/color/weibo.png", alt="Weibo", target="_blank", width="35", height="35")
              
              a(href="http://facebook.com/sharismlab")
                img(src="/img/icons/color/facebook.png", alt="Facebook", target="_blank", width="35", height="35")
              
              a(href="http://sharismlab.com")
                img(src="/img/icons/color/rss.png", alt="Blog", target="_blank", width="35", height="35")
        block footer
        block scripts
