extends layout

block append content
	canvas#seuron( data-processing-sources="/viz/seuron-twitter.pde /viz/seuron_viz/lib/functions.pde /viz/seuron_viz/lib/Seuron.pde /viz/seuron_viz/lib/Synapse.pde /viz/seuron_viz/lib/Message.pde /viz/seuron_viz/lib/Transmitter.pde",tabindex="0",style="image-rendering: -webkit-optimize-contrast !important; margin: auto; position: absolute; top:0; left:0; width:100%;height100%; outline: 0;")   
			p Please upgrade your browser to something newer, like 
				a( href="http://chrome.google.com", target="_blank") Google Chrome

block append footer
	script( type="text/javascript", src="/socket.io/socket.io.js")
	script( type="text/javascript", src="/js/processing.js")
	script(type="text/javascript", src="/viz/script.js")
	- if ( everyauth.twitter )
		script( type='text/javascript' )
			userdata = !{ JSON.stringify( everyauth.twitter.user ) }