extends ../layout

block append content

    h1 Welcome to your social neuron page 
    
    div#loading

    - if (everyauth.twitter)
        p You can browse from here your social neuron and its surroundings
        p include _viz

    - else
        p Please 
            a(href="/auth/twitter/") login with Twitter  
            p to discover your social neuron

block append footer
    script( type="text/javascript", src="/socket.io/socket.io.js")
    script( type="text/javascript", src="/js/processing.js")
    script(type="text/javascript", src="/viz/script.js")