{
    "twitter":{
          "consumerKey":""
        , "consumerSecret":""
        , "callback_url" : ""
    },
    "weibo" : {
          "appKey" : ""
        , "appSecret" : ""
        , "callback_url" : ""
    },
    "google" : {
        "appKey" : "",
        "appSecret" : ""
    },
    "alchemy" : {
        "key" : ""
    }
}
